<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>LOGIN FORM</h1>
    <hr>
    <% if (locals.name) { %>
        <p>User <%= locals.name %> registered successfully. Now you need to login.</p>
    <% } %>

    <% if (locals.email) { %>
        <p>Either Email or Password is incorrect. Please try again.</p>
    <% } %>
    <div>
        <form action="/user/login" method="get">
            <label>Email</label>
            <input type="email" placeholder="Enter your email" name="email"><br>
            <label>Password</label>
            <input type="password" placeholder="Enter password" name="password"><br><br>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>